[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/brave-mjoklplbddabcmpepnokjaffbmgbkkgg-Default.desktop]
row=6
col=0

[/home/aruncs/Desktop/ethical-hacking]
row=1
col=0

[/home/aruncs/Desktop/B-Tech]
row=0
col=0

[/home/aruncs/Desktop/org.telegram.desktop.desktop]
row=4
col=0

[/home/aruncs/Desktop/Let-C]
row=2
col=0

[/home/aruncs/Desktop/zsh-fzf]
row=3
col=0

