[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/brave-okdjmlegbegjhfafolpffchfmfjloinf-Default.desktop]
row=1
col=2

[/home/aruncs/Desktop/ethical-h4ckers.github.io]
row=7
col=2

[/home/aruncs/Desktop/318_capfiles]
row=3
col=2

[/home/aruncs/Desktop/brave-kjcjfjccmpngedeildfijeanhihmolck-Default.desktop]
row=5
col=0

[/home/aruncs/Desktop/wordlist.txt]
row=6
col=2

[/home/aruncs/Desktop/brave-jckaldkomadaenmmgladeopgmfbahfjm-Default.desktop]
row=1
col=3

[/home/aruncs/Desktop/Screenshot_2023-05-14_01-38-44.png]
row=4
col=3

[/home/aruncs/Desktop/org.telegram.desktop.desktop]
row=4
col=0

[/home/aruncs/Desktop/brave-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default.desktop]
row=0
col=1

[/home/aruncs/Desktop/brave-mjoklplbddabcmpepnokjaffbmgbkkgg-Default.desktop]
row=6
col=0

[/home/aruncs/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=6
col=1

[/home/aruncs/Desktop/brave-abheklhhanaknfbhddhimbibaginefbo-Default.desktop]
row=2
col=3

[/home/aruncs/Desktop/i3]
row=1
col=1

[/home/aruncs/Desktop/22R7190-ARUN_C_S_.pdf]
row=3
col=1

[/home/aruncs/Desktop/B-Tech]
row=5
col=2

[/home/aruncs/Desktop/e-10179.gif]
row=2
col=2

[/home/aruncs/Desktop/zsh-fzf]
row=3
col=0

[/home/aruncs/Desktop/brave-maonlnecdeecdljpahhnnlmhbmalehlm-Default.desktop]
row=0
col=2

[/home/aruncs/Desktop/lite_tmux]
row=7
col=0

[/home/aruncs/Desktop/htop]
row=2
col=1

[/home/aruncs/Desktop/c8593d13-ac80-4ceb-b0e8-977394ade553-21E95.jpg]
row=5
col=1

[/home/aruncs/Desktop/wallpapers]
row=4
col=1

[/home/aruncs/Desktop/ethical-hacking]
row=1
col=0

[/home/aruncs/Desktop/Let-C]
row=2
col=0

[/home/aruncs/Desktop/brave-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=0
col=3

[EBED-006C]
row=7
col=1

[Trash]
row=4
col=2

[/home/aruncs]
row=0
col=0

